.container{
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}


.heading{
    font-size: 3rem;
    color: lightgreen;

}

.nav-links{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    
    

}

.nav-link-items{
    padding-right: 2rem;
   
}

.nav-link-text{
    color: darkolivegreen
}
